<section>
  <div class="container">
    <div class="row">
			<h1 class="col-lg-12">Agrega Organizadores</h1>
			<div class="col-lg-6 offset-lg-3" style="margin-top:20px">
					<h3>Comisiones Default</h3>
	
					<ul class="list-group">
						<li *ngFor="let item of comisionesOrg" class="list-group-item">
							<label class="form-check-label">
								<input [(ngModel)]="item.active" type="checkbox" [checked]="item.active" class="form-check-input">
							</label>
							<label>{{ item.comision.descripcion }}
							</label>
							<label>Porcentaje %</label>
							<input [(ngModel)]="item.comision.porcentaje" [value]="item.comision.porcentaje" type="text" class="form-control" placeholder="Escribe tu nuevo porcentaje">
							<label>Cantidad $</label>
							<input [(ngModel)]="item.comision.cantidad" [value]="item.comision.cantidad" type="text" class="form-control" placeholder="Escribe tu nueva cantidad">
	
						</li>
					</ul>
				</div>
				
      <form class="col-lg-6 offset-lg-3" [formGroup]="organizadorForm" (submit)="saveOrganizador()">
        <fieldset>
          <div class="form-group">
            <label for="name">Nombre de Organizador</label>
            <input [(ngModel)]="name" formControlName="name" type="text" class="form-control" id="name" placeholder="Ocesa">
            <small *ngIf="!organizadorForm.controls['name'].valid && organizadorForm.controls['name'].touched" class="form-text text-muted message-error">Este campo es requerido.</small>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!organizadorForm.valid">Agregar</button>
        </fieldset>
      </form>
      
		</div>

		<div *ngIf="organizadores.length > 0" class="row" style="margin:20px 0">
				<h1 class="col-lg-12">Organizadores</h1>
				<table class="table table-striped table-hover table-bordered">
					<thead class="thead-dark">
						<tr>
							<th>#</th>
							<th>Nombre</th>
							<th>Comisiones</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let organizador of organizadores">
							<td>{{ organizador.id_organizador }}</td>
							<td>{{ organizador.descripcion }}</td>
							<td>
								<ul>
									<li *ngFor="let comision of organizador.comisiones">
										{{comision.descripcion}}
										Porcentaje {{ comision.porcentaje }}%
										Cantidad ${{ comision.cantidad }}
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
  </div>
</section>
