<section>
  <div class="container">
    <div class="row">
      <h1 class="col-lg-12">Agrega Eventos</h1>
      <form class="col-lg-6 offset-lg-3" [formGroup]="eventForm" (submit)="saveEvent()">
        <fieldset>
          <div class="form-group">
            <label>Nombre del Evento</label>
            <input formControlName="nombre" type="text" class="form-control" placeholder="Concierto Principal">
            <small *ngIf="!eventForm.controls['nombre'].valid && eventForm.controls['nombre'].touched" class="form-text text-muted message-error">Este campo es requerido.</small>
          </div>
          <div class="form-group">
            <label>Fecha del Evento</label>
            <input formControlName="fecha" type="text" class="form-control" placeholder="09/05/2018">
            <small *ngIf="!eventForm.controls['fecha'].valid && eventForm.controls['fecha'].touched" class="form-text text-muted message-error">Este campo es requerido.</small>
          </div>
          <div class="form-group">
            <label>Lugar del Evento</label>
            <input formControlName="lugar" type="text" class="form-control" placeholder="Capital de Mexico">
            <small *ngIf="!eventForm.controls['lugar'].valid && eventForm.controls['lugar'].touched" class="form-text text-muted message-error">Este campo es requerido.</small>
          </div>
          <div class="form-group">
            <label>Horario del Evento</label>
            <input formControlName="horario" type="text" class="form-control" placeholder="5:00 pm.">
            <small *ngIf="!eventForm.controls['horario'].valid && eventForm.controls['horario'].touched" class="form-text text-muted message-error">Este campo es requerido.</small>
          </div>
          <div class="form-group">
							<label>Organizador</label>
							<select (change)="onChange($event.target.value)" class="form-control">
								<option value="0">Ninguno</option>
								<option [value]="organizador.id_organizador" *ngFor="let organizador of organizadores">{{ organizador.descripcion }}</option>
							</select>
						</div>
        </fieldset>
			</form>
		</div>
		<div class="row">
		<div class="col-lg-6 offset-lg-3" style="margin-top:20px">
				<h3>Comisiones Default</h3>

				<ul class="list-group">
					<li *ngFor="let item of comisiones" class="list-group-item">
						<label class="form-check-label">
							<input [(ngModel)]="item.active" type="checkbox" [checked]="item.active" class="form-check-input">
						</label>
						<label>{{ item.comision.descripcion }}
						</label>
						<label>Porcentaje %</label>
						<input [(ngModel)]="item.comision.porcentaje" [value]="item.comision.porcentaje" type="text" class="form-control" placeholder="Escribe tu nuevo porcentaje">
						<label>Cantidad $</label>
						<input [(ngModel)]="item.comision.cantidad" [value]="item.comision.cantidad" type="text" class="form-control" placeholder="Escribe tu nueva cantidad">
					</li>
				</ul>
			</div>
		</div>
		<div class="row" style="margin-top:20px">
				<button type="submit" class="btn btn-primary col-lg-2 offset-lg-5" [disabled]="!eventForm.valid">Agregar</button>
		</div>
  </div>
</section>
